<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Добро пожаловать</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
<header>
    <h1>Добро пожаловать</h1>
    <button id="login-button" class="login-button">Войти</button>
</header>
<main>
    <section class="project-info">
        <div class="info-text" style="opacity: 1; transform: translateY(0);">
            <h2>Возможности приложения:</h2>
            <ul>
                <li>Создание короткой ссылки</li>
                <li>Отслеживание переходов по ссылке</li>
                <li>Удобное использование</li>
            </ul>
        </div>
    </section>
</main>
<script src="script.js"></script>
</body>
</html>
